<app-login-form *ngIf="!playerRegistered"
                (onSignIn)="signIn($event)"></app-login-form>

<div *ngIf="apiService.game">
  <div class="question">
    <div class="question-content">
      <h1>{{apiService.game?.question}}</h1>
    </div>
    <form class="answer-form"
          *ngIf="playerRegistered">
      <input class="answer-input"
             [(ngModel)]="apiService.myAnswer"
             name="answer"
             required/>
      <button class="answer-submit"
              (click)="apiService.answer($event)">Odpowiedz
      </button>
    </form>
  </div>
  <app-seconds-left
          [until]="apiService.game?.endsOn"></app-seconds-left>
</div>

<div class="main">
  <div>
    <app-game [game]="apiService.game"
              *ngIf="apiService.game"></app-game>

    <div class="archived-games">
      <div class="game" *ngFor="let game of apiService.archivedGames">
        <app-game [game]="game"></app-game>
        <h3>{{apiService.game.question}}</h3>
      </div>
    </div>
  </div>
  <div class="player-list">
    <h3>Gracze:</h3>
    <div *ngFor="let player of apiService.players">
      {{player.id}}
    </div>
  </div>
</div>