<form *ngIf="!playerRegistered">
  <input [(ngModel)]="player.name" name="name" required/>
  <input [(ngModel)]="password" name="password" required type="password"/>
  <button (click)="signIn($event)">Sign in</button>
</form>

<div *ngIf="game">
  <div class="question">
    <div class="question-content">
      <h1>{{game?.question}}</h1>
    </div>
    <form class="answer-form"
          *ngIf="playerRegistered">
      <input class="answer-input"
             [(ngModel)]="myAnswer"
             name="answer"
             required/>
      <button class="answer-submit"
              (click)="answer($event)">Answer
      </button>
    </form>
  </div>
  <app-seconds-left
          [until]="game?.endsOn"></app-seconds-left>
</div>

<div class="main">

  <div>

    <div class="game" [class.solved]="game?.solved">
      <div class="game-play" *ngFor="let play of game?.plays">
        <label>{{play.playerId}}</label>
        <span>{{play.answer}}</span>
      </div>
    </div>

    <div class="archived-games">
      <div class="game" *ngFor="let game of archivedGames">
        <h3>{{game.question}}</h3>
        <div class="game-play" *ngFor="let play of game.plays">
          <label>{{play.playerId}}</label>
          <span>{{play.answer}}</span> <span>{{play.points}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="player-list">
    <h3>Gracze:</h3>
    <div *ngFor="let player of players">
      {{player.id}}
    </div>
  </div>
</div>